<h1><%=@title%></h1>
<p><%= flash[:message] %></p>
<%= form_for(:user, :url => {:action => :create}) do |form| %>
    <%= form.label(:first_name, "First Name:")%>
    <%= form.text_field(:first_name) %>
    <%= form.label(:last_name, "Last Name:")%>
    <%= form.text_field(:last_name) %>
    <%= form.label(:login, "Login:")%>
    <%= form.text_field(:login) %>
    <%= form.label(:password, "Enter Password:")%>
    <%= form.password_field(:password) %>
    <%= form.label(:password_confirmation, "Confirm Password:")%>
    <%= form.password_field(:password_confirmation) %>
    <%= form.submit "Create & Login" ,class:"btn btn-lg btn-primary" %>
<% end %>